@main {
		<br>
		@if(flash.contains("success")) {
    	<div class="alert alert-success">@flash.get("success")</div>
    }
		<div style="margin-left: 80px;">
		<a class="twitter-timeline" width="520" height="800" href="https://twitter.com/LanMatchmaker2K/progamers" data-widget-id="336771636160237568">Tweets from @@LanMatchmaker2K/progamers</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
		</div>

}